.chat-box {
	position: relative;
}

.chat-box .main {
	border-top: 0.3px solid #e3e1dc;
	border-bottom: 0.3px solid #e3e1dc;
	font-size: 2.1rem;
	height: 75vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

#messages {
	margin: 1rem;
	margin-bottom: 7rem;
	display: flex;
	flex-direction: column;
}

#message-input {
	outline: none;
	border: 2px solid;
	border-radius: 2rem;
	padding: 1rem;
	font-weight: normal;
	font-size: 2rem;
	background-color: #e3e1dc;
	border: none;
	width: 100%;
	position: absolute;
	bottom: 0rem;
}

.chat-box .header {
	display: flex;
	justify-content: space-between;
	padding: 2rem;
}

.chat-box .header .initials {
	background-color: #0084ff;
	width: 2.3rem;
	padding: 1rem;
	font-size: 1.7rem;
	color: #ffffff;
	border-radius: 50%;
}

.chat-box .header .full-name {
	font-size: 1.9rem;
	white-space: nowrap;
	overflow: hidden;
	max-width: 20rem;
	text-overflow: ellipsis;
	position: absolute;
	font-weight: bold;
	top: 0.1rem;
	left: 7rem;
}

.chat-box .header > i {
	color: #0084ff;
	font-size: 2.7rem;
	cursor: pointer;
}

.received-message {
	background-color: #e3e1dc;
}

.sent-message {
	background-color: #0084ff;
	align-self: flex-end;
}

.received-message,
.sent-message {
	width: fit-content;
	padding: 1rem;
	color: #ffffff;
	border-radius: 20px;
	max-width: 30rem;
	overflow-wrap: break-word;
}
