.dashboard-container {
	display: grid;
	grid-template-columns: 1.3fr 3fr;
	border: 0.3px solid #e3e1dc;
	margin: auto;
}

@media screen and (min-width: 1200px) {
	.dashboard-container {
		width: 60%;
	}
}

.online-users {
	border-right: 0.3px solid #e3e1dc;
}

.online-users h4 {
	margin-top: -0px;
	font-size: 2rem;
	text-align: center;
	border-bottom: 0.3px solid #e3e1dc;
}

.online-users > div {
	margin-top: -2.6rem;
	height: 85vh;
	overflow-y: scroll;
}

.online-user {
	position: relative;
	padding: 2rem;
	min-width: 25rem;
}

.online-user:hover {
	cursor: pointer;
	background-color: #e3e1dc;
	border-radius: 20px;
}

.online-user .initials {
	background-color: #0084ff;
	width: 2rem;
	padding: 1rem;
	font-size: 1.5rem;
	color: #ffffff;
	border-radius: 50%;
}

.online-user .full-name {
	font-size: 1.6rem;
	white-space: nowrap;
	overflow: hidden;
	max-width: 18rem;
	text-overflow: ellipsis;
	position: absolute;
	top: 0.2rem;
	left: 7rem;
}

.chat-box {
}
